<h2>My Products</h2>
<ul class="products">
  <li *ngFor="let product of products"
  [class.selected]="product===selectedHero"
  (click)="onSelect(hero)">
    <span class="badge">{{product.id}}</span> {{product.name}}
  </li>
</ul>

<div *ngIf="selectedProduct">

    <h2>{{selectedProduct.name | uppercase }} Details</h2>
    <div><span>id: </span> {{ selectedProduct.id}}</div>
    <div>
        <label>Name : 
            <input [(ngModel)]="selectedProduct.name" placeholder = "Name">
        </label>
    </div>
    
</div>